---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayoutFunnel from "@layouts/PageLayoutFunnel.astro";

export async function getStaticPaths() {
  const posts = await getCollection("page");
  let params = posts.map((post) => {
    let slug = post.slug != "index" ? post.slug : undefined;
    return {
      params: { slug: slug },
      props: { ...post },
    };
  });
  return params;
}

type Props = CollectionEntry<"page">;
const post = Astro.props;
const { Content } = await post.render();
---

<PageLayoutFunnel {...post.data}>
  <div class="richtext">
    <Content />
  </div>
</PageLayoutFunnel>
